{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us......</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To ExampleShop Ecommerce..</p>
        </div>
    </div>
</header>
</br></br>

<div class="container"> 
    <div class="row"> 
        <center> 
            <div class="col-8"> 
                <p class="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies ligula a venenatis molestie. Nulla ac cursus sem, ut fringilla enim. Curabitur sagittis sapien in ligula tempor, ut aliquam orci dictum. Praesent id mauris id tortor bibendum condimentum eu placerat nisi. In mattis vitae justo in laoreet. Vivamus tincidunt hendrerit cursus. Nam imperdiet lorem et tellus malesuada iaculis. Donec odio urna, venenatis nec rhoncus vitae, dapibus at lorem. Etiam dolor nisl, ultrices sed tellus ac, sagittis tristique turpis. Ut lacinia, lectus vel pharetra accumsan, dui ex rutrum turpis, a egestas turpis velit ac ex.
                </br></br>
                Donec nec pellentesque magna. Duis molestie, lacus non eleifend dignissim, turpis arcu suscipit risus, ac placerat odio justo et ipsum. Maecenas ac arcu placerat, auctor sapien in, tincidunt ipsum. Nullam luctus accumsan felis eu pellentesque. Nulla accumsan est vel nulla feugiat, sed tincidunt tortor mollis. Sed et neque quis nulla vestibulum ultrices. Nullam condimentum rhoncus neque, sed tincidunt nunc bibendum pulvinar.
                </br></br>
                Pellentesque id mauris tincidunt, blandit arcu at, mollis orci. Curabitur leo mauris, porttitor in diam id, fermentum tempus augue. Integer lobortis magna sed dolor varius, nec hendrerit ipsum condimentum. Quisque rhoncus lacinia diam id sagittis. Sed convallis purus non pulvinar ullamcorper. Etiam id varius est. Sed sit amet tellus eu nibh consequat imperdiet. Vestibulum fermentum ex vel pellentesque pharetra.
                </br></br>
                </p>
            </div>
        </center>
    </div>
</div>


{% endblock %}